html,
body,
#viewDiv {
    padding: 0;
    margin: 0;
    height: 100%;
    width: 100%;
}
#menu {
    padding: 1em;
    text-align: left;
}
select {
    margin: 0.5em;
}
button {
    display: block;
    margin: 0 auto;
    margin-top: 0.5em;
}